.home{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url( "images/maintenancier.jpg");
}
.navbar{
    width: 100%;
}
 
h2{
    text-align: center;
}
  
.technique{
    background-image: url( "images/nature.jpg"); 
    width: 100%;
    height: 7000px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media all and (max-width: 1128px){
    .col{
        margin: 0 !important;
        border-radius: 20px;
    }
}
@media all and (max-width: 888px){
   
   .col{
       width: 200px;
   }
    
}
@media all and (max-width: 384px){
    .first-photos{
        flex-wrap: wrap;
    }
}